
div{
    width: 300px;
    height: 430px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
div:hover {
    transform: translateY(-10px);
    box-shadow: 8px 8px 8px rgb(47, 47, 47);
}
/* button{
    color: #ff0;
    background: #000; 
    border: none;
} */
#move{
    position: relative;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2023-02/1676630177_catherineasquithgallery-com-p-foni-zelenie-svadba-210.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.beautiful-button {
    padding: 15px 30px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.beautiful-button a{
    text-decoration: none;
    color: white;
}

.beautiful-button:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
}

.beautiful-button:active {
    background-color: #3700b3;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.imgcard{
    margin-top: 10px;
}